<div class="container"*ngIf="(user$|async) as user">
    
    <h2 class="title">Order History</h2>
    <section class="head">
        <td class="order">Order</td>
        <td class="date">Date</td>
        <td class="price">Price</td>
        <td class="icon"></td>
        <td class="button-view-details"></td>
    </section>
    <section class="body">
        <tr *ngFor="let sale of user.sales">
            <td class="order">#{{sale.id}}</td>
            <td class="date">{{sale.createdAt | date:'MM/dd/yyyy'}}</td>
            <td class="price">{{sale.total|currency}}</td>
            <td class="icon"><mat-icon (click)="showDetails(sale)">visibility</mat-icon></td>
            <td class="button-view-details"><button class="button-details"(click)="showDetails(sale)" >View details</button></td>
            
        </tr>
    </section>
    <button class="button-primary text-700 button-return" routerLink="/index">Return to Store</button>
</div>