<div class="contenedor">
    <div>
        <img src="../../../../../assets/logo.png">
    </div>
    <p class="text-primary-link texto-login text-700">
        Log in
    </p>
    <form action="">

        <div class="contenedor-input">
            <p class="text-primary-dark">
                User
            </p>

            <input type="text" class="input-primary" placeholder="Enter your user username">
        </div>
        
        <div class="contenedor-input input-central">

            <p class="text-primary-dark">
                Password
            </p>
            
            <input type="text" class="input-primary" placeholder="Enter your password">
        </div>
        <div class="contenedor-input">

            <p class="text-primary-dark">
                Email
            </p>
            
            <input type="text" class="input-primary" placeholder="Enter your email address">
        </div>
        <div class="contenedor-botones">

            <button mat-raised-button class="button-primary">
                Register
            </button>
            <div class="contenedor-linea">
    
                <hr><p class="text-primary-dark">Or</p><hr> 
            </div>

            <button mat-raised-button class="button-primary">
                Continue with Google
            </button>

        </div>
            <p class="text-primary-link text-700">
            Forgout your password?
            </p>

    </form>

    

</div>