<div class="contenedor">
    <div class="contenedor-imagen-desktop">
        <img src="../../../../../assets/verduras_izquierda.png" class="imagen-izquierda">
    </div>
    <div class="contenedor-form">
        <div>
            <img src="../../../../../assets/logo.png">
        </div>
        <p class="text-primary-link texto-login text-700" routerLink="/index/login">
            Log in
        </p>
        <form [formGroup]="form">
    
            <div class="contenedor-input">
                <p class="text-primary-dark">
                    Name
                </p>
    
                <input type="text" formControlName="name" class="input-primary" placeholder="Enter your name and lastname"  [ngClass]="{'input-error': form.get('name')?.errors && form.get('name')?.touched}">
                <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                    The field is required.
                  </mat-error>
            </div>
            
           
            <div class="contenedor-input">
    
                <p class="text-primary-dark">
                    Email
                </p>
                
                <input type="text" formControlName="email" class="input-primary" placeholder="Enter your email address" autocomplete="off"
                [ngClass]="{'input-error': form.get('email')?.errors && form.get('email')?.touched}" >
                <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                    The field is required.
                  </mat-error>
                  <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                    Enter a valid email. Please verify.
                  </mat-error>
            </div>

            <div class="contenedor-input">
    
                <p class="text-primary-dark">
                    Password
                </p>
                <div class="contenedor-input-password">
                  <input [type]="mostrarPassword?'text':'password'" formControlName="password" class="input-primary" placeholder="Enter your password" 
                  (keyup)="passwordValidator()" [ngClass]="{'input-error': form.get('password')?.errors && form.get('password')?.touched}" autocomplete="off">
                  <mat-icon class="icon-password" (click)="mostrarPassword= !mostrarPassword">{{mostrarPassword?'visibility_off':'visibility'}}</mat-icon>
                </div>
                <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                    The field is required.
                  </mat-error>
                  <!-- Alerta para longitud mínima -->
                  <mat-error *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">
                    The password must have at least 8 characters.
                  </mat-error>
                  <!-- Alerta para longitud máxima -->
                  <mat-error *ngIf="form.get('password')?.hasError('maxlength') && form.get('password')?.touched">
                    The password must have a maximum of 20 characters.
                  </mat-error>
          
                  <!-- Alerta para minúsculas -->
                  <mat-error *ngIf="form.get('password')?.hasError('lowercase') && form.get('password')?.touched">
                    The password must contain at least one lowercase letter.
                  </mat-error>
          
                  <!-- Alerta para mayúsculas -->
                  <mat-error *ngIf="form.get('password')?.hasError('uppercase') && form.get('password')?.touched">
                    The password must contain at least one uppercase letter.
                  </mat-error>
          
                  <!-- Alerta para números -->
                  <mat-error *ngIf="form.get('password')?.hasError('digit') && form.get('password')?.touched">
                    The password must contain at least one number.
                  </mat-error>
    
                  <!-- Alerta para espacio en blanco -->
                  <mat-error *ngIf="form.get('password')?.hasError('espacioBlanco') && form.get('password')?.touched">
                    The password must not contain any whitespace.
                  </mat-error>
            </div>


            <div class="contenedor-input">
    
                <p class="text-primary-dark">
                    Confirm your password
                </p>
                <div class="contenedor-input-password">
                  <input [type]="mostrarConfirmPassword?'text':'password'" formControlName="confirmPassword" class="input-primary" placeholder="Enter your password again" 
                  (keyup)="passwordValidator()" [ngClass]="{'input-error': form.get('confirmPassword')?.errors && form.get('confirmPassword')?.touched}" autocomplete="off" >
                  <mat-icon class="icon-password" (click)="mostrarConfirmPassword= !mostrarConfirmPassword">{{mostrarConfirmPassword?'visibility_off':'visibility'}}</mat-icon>
                </div>

                <mat-error *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
                    The field is required.
                  </mat-error>
                  <!-- Alerta para longitud mínima -->
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('minlength') && form.get('confirmPassword')?.touched">
                    The password must have at least 8 characters.
                  </mat-error>
                  <!-- Alerta para longitud máxima -->
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('maxlength') && form.get('confirmPassword')?.touched">
                    The password must have a maximum of 20 characters.
                  </mat-error>
          
                  <!-- Alerta para minúsculas -->
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('lowercase') && form.get('confirmPassword')?.touched">
                    The password must contain at least one lowercase letter.
                  </mat-error>
          
                  <!-- Alerta para mayúsculas -->
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('uppercase') && form.get('confirmPassword')?.touched">
                    The password must contain at least one uppercase letter.
                  </mat-error>
          
                  <!-- Alerta para números -->
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('digit') && form.get('confirmPassword')?.touched">
                    The password must contain at least one number.
                  </mat-error>
    
                  <!-- Alerta para espacio en blanco -->
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('espacioBlanco') && form.get('confirmPassword')?.touched">
                    The password must not contain any whitespace.
                  </mat-error>
                  <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch') && form.get('password')?.hasError('passwordMismatch')">
                    Passwords do not match.
                  </mat-error>
            </div>

            <div class="contenedor-botones">
    
                <button mat-raised-button class="button-primary"  [disabled]="form.invalid" (click)="register()">
                    Register
                </button>
                <div class="contenedor-linea">
        
                    <hr><p class="text-primary-dark">Or</p><hr> 
                </div>
    
                <button mat-raised-button class="button-primary" >
                    Continue with Google
                </button>
    
            </div>
                <p class="text-primary-link text-700">
                Forgout your password?
                </p>
    
        </form>
    
        
    
    </div>
    <div class="contenedor-imagen-tablet">
        <img src="../../../../../assets/conjunto-verduras.png" >
    </div>
    <div class="contenedor-imagen-desktop">
        <img src="../../../../../assets/verduras_derecha.png" class="imagen-derecha" >
    </div>
</div>
