<div class="body">
    <div class="container">
        <nav>
            <img src="../../../assets/logo_navbar.svg" routerLink="/index">
            <mat-icon class="icon-menu" (click)="openMenu = !openMenu">menu</mat-icon>
            <ul class="items-menu">
                <li class="text-primary-link text-700">Products</li>
                <li class="text-primary-link text-700" routerLink="/admin/categories">Categories</li>
                <li class="text-primary-link text-700">Profile</li>
                <li class="text-primary-link text-700" (click)="logout()">Sign out</li>
            </ul>
        </nav>
        <ul *ngIf="openMenu" class="menu-desplegable">
            <li class="text-primary-link text-700">Products</li>
            <li class="text-primary-link text-700" (click)="redirectTo('admin/categories')" >Categories</li>
            <li class="text-primary-link text-700">Profile</li>
            <li class="text-primary-link text-700" (click)="logout()">Sign out</li>
        </ul>
        <router-outlet></router-outlet>
    
    </div>
    <app-footer></app-footer>

</div>
