
.container{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
    background-color: #fff;
    border-radius: 10px !important;
}

.contenedor-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-result{
    margin-top: 26px;
}

.text-alert{
 margin: 4px 0 10px;
}

button{
    width: 100%;
    margin: 20px 0 5px;
    height: 50px !important;
}


.text-title{
    margin-top: 10px;
}
@media (min-width:500px) {
    .container{
        width: 360px;
    }
}