/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #148E0A; // Define una variable a nivel root
    --color-secondary: #FF6B00;
  }
html, body { height: 100%; }
*,*::after,*::before{
    box-sizing: border-box;
}
body,* { margin: 0; font-family: 'Open Sans', sans-serif; }
li{
    list-style: none;
}
.button-primary{
    
    background-color: var(--color-primary) !important;
    color: #fff !important;
    font-size: 1rem;
    
}

.button-primary:hover{

    background-color: #FF6B00 !important;
    color: #fff !important;
}

.button-primary:disabled{
    background-color: #B3B3B3 !important;
    color: #fff !important;
}

.input-primary{
    border: solid 1.2px #1e9f234d;
    border-radius: .5rem;
    outline:none;
    padding-left: 12px;
}

.input-primary:focus, .input-primary:hover{
    border: solid 1.2px #1e9f23;
}

.input-error{
    border: solid 1.2px #EB2323;
}

.input-error:focus, .input-error:hover{
    border: solid 1.2px #EB2323;
}

.text-primary{
    color: #148E0A ;
}
.text-primary-link{
    color: #148E0A;
    cursor: pointer;
}

.text-primary-link:hover{
    color: #FF6B00;
}

.text-primary-dark{
    color: #083C04 ;
}

.text-700{
    font-weight: 700;
}
.text-error{
    color: #EB2323;
}
mat-error{
    font-size: 14px;
    color: #EB2323 !important;
}
